<ion-content [fullscreen]="true">
    <main class="container">
        <!-- SEÇÃO 1: APRESENTAÇÃO -->
        <section class="apresentacao">
            <div class="imagem-container">
                <img src="/assets/mari.jpg" alt="Foto aluno" class="logo-ionic">
            </div>

            <div class="texto-container">
                <h2>Marielen da Silva Lopes</h2>
                <p>Idade: 20</p>
                <p>O que mais gostava na Escola Silva Paes: A hora de ir embora</p>
                <p>Meme interno: "Turísta"</p>
                <p>Materia favorita: Biologia </p>
            </div>
        </section>

        <!-- SEÇÃO 2: TEXTO LONGO -->
        <section class="texto-longo">
            <h2>Sobre Marielen da Silva Lopes</h2>
            <p>Marie é uma estudante tranquila (as vezes) e curiosa (com tudo menos com a matéria), que adora as viagens da escola e está sempre rindo com o grupinho. Gosta de conhecer lugares novos e aproveitar cada momento com os amigos. Matemática não é seu ponto forte, mas ela compensa com criatividade, bom humor (principalmente à tarde, porque de manhã não é muito seu horário 😴) e um jeitinho descontraído de ver a vida mesmo que chegue um pouquinho atrasada todas às vezes.</p>
        </section>

        <!-- SEÇÃO 3: GALERIA DE FOTOS -->
        <section class="imagens">
            <h2 class="ion-text-center">Fotos que definem Marielen</h2> 

            <ion-grid class="galeria-centralizada">
                <ion-row> 
                    <ion-col size="4" *ngFor="let caminho of caminhosDasFotos | slice:0:limiteDeFotos">
                        
                        <div class="imagem-pequena-container">
                            <ion-img [src]="caminho" [alt]="'Foto de Mari: ' + caminho"></ion-img>
                        </div>
                        
                    </ion-col>
                </ion-row>
            </ion-grid>
            
            <ion-button 
                *ngIf="mostrarBotao" 
                (click)="mostrarTodasAsFotos()" 
                expand="block" 
                fill="outline"
                class="ion-margin-top galeria-botao-expansao">
                Mostrar Mais Fotos ({{ caminhosDasFotos.length - limiteDeFotos }})
            </ion-button>
        </section>
    </main>
</ion-content>