<ion-content [fullscreen]="true">
    <main class="container">
        <!-- SEÇÃO 1: APRESENTAÇÃO -->
        <section class="apresentacao">
            <div class="imagem-container">
                <img src="/assets/gabs.jpg" alt="Foto aluno" class="logo-ionic">
            </div>

            <div class="texto-container">
                <h2>Gabriel Teixeira Gonçalves</h2>
                <p>Idade: 20 anos</p>
                <p>O que mais gostava na Escola Silva Paes: Aprender sobre Tecnologias</p>
                <p>Meme interno: Bora POVOO</p>
                <p>Materia favorita: Linguagem de Programação</p>
            </div>
        </section>

        <!-- SEÇÃO 2: TEXTO LONGO -->
        <section class="texto-longo">
            <h2>Sobre Gabriel Teixeira Gonçalves</h2>
            <p>Gabriel é um cara tranquilo e de boa, conhecido por sua calma e discrição. Ele não gosta de se aparecer e prefere manter um perfil mais reservado. Apesar da timidez, é alguém focado em seus objetivos e apaixonado por tecnologia, sempre buscando aprender e evoluir na área de TI. Não se considera muito fotogênico, mas compensa com uma personalidade sincera e autêntica. Mesmo sendo calmo, também tem seus momentos de zoeira e maluquices, mostrando um lado divertido e espontâneo.</p>
        </section>

        <!-- SEÇÃO 3: GALERIA DE FOTOS -->
        <section class="imagens">
            <h2 class="ion-text-center">Fotos que definem Gabriel</h2> 

            <ion-grid class="galeria-centralizada">
                <ion-row> 
                    <ion-col size="4" *ngFor="let caminho of caminhosDasFotos | slice:0:limiteDeFotos">
                        
                        <div class="imagem-pequena-container">
                            <ion-img [src]="caminho" [alt]="'Foto de Rafael: ' + caminho"></ion-img>
                        </div>
                        
                    </ion-col>
                </ion-row>
            </ion-grid>
            
            <ion-button 
                *ngIf="mostrarBotao" 
                (click)="mostrarTodasAsFotos()" 
                expand="block" 
                fill="outline"
                class="ion-margin-top galeria-botao-expansao">
                Mostrar Mais Fotos ({{ caminhosDasFotos.length - limiteDeFotos }})
            </ion-button>
        </section>
    </main>
</ion-content>