<ion-content [fullscreen]="true">
    <main class="container">
        <!-- SEÇÃO 1: APRESENTAÇÃO -->
        <section class="apresentacao">
            <div class="imagem-container">
                <img src="/assets/ays.jpg" alt="Foto aluno" class="logo-ionic">
            </div>

            <div class="texto-container">
                <h2>Aysllan Constenla Dos Santos</h2>
                <p>Idade: 19 anos</p>
                <p>O que mais gostava na Escola Silva Paes: Meus amigos</p>
                <p>Meme interno: meu Deus do céu não sobrou nada.....</p>
                <p>Materia favorita: Filosofia</p>
            </div>
        </section>

        <!-- SEÇÃO 2: TEXTO LONGO -->
        <section class="texto-longo">
            <h2>Sobre Aysllan Constenla Dos Santos</h2>
            <p>Por mais que eu tente, é como se eu sempre estivesse correndo atrás de algo inalcançável, no fim, parece que tudo que eu faço não é o bastante. É como se eu estivesse preso num ciclo interminável de decepção, e isso me consome. No fundo, eu sei que estou me perdendo, tentando ser algo que eu nunca possa ser, e a cada dia que passa, o vazio e frio só aumentam, hoje me sinto um fracasso e inútil, não seja uma pessoa como eu</p>
        </section>

        <!-- SEÇÃO 3: GALERIA DE FOTOS -->
        <section class="imagens">
            <h2 class="ion-text-center">Fotos que definem Aysllan Constenla Dos Santos</h2> 

            <ion-grid class="galeria-centralizada">
                <ion-row> 
                    <ion-col size="4" *ngFor="let caminho of caminhosDasFotos | slice:0:limiteDeFotos">
                        
                        <div class="imagem-pequena-container">
                            <ion-img [src]="caminho" [alt]="'Foto de Sarah: ' + caminho"></ion-img>
                        </div>
                        
                    </ion-col>
                </ion-row>
            </ion-grid>
            
            <ion-button 
                *ngIf="mostrarBotao" 
                (click)="mostrarTodasAsFotos()" 
                expand="block" 
                fill="outline"
                class="ion-margin-top galeria-botao-expansao">
                Mostrar Mais Fotos ({{ caminhosDasFotos.length - limiteDeFotos }})
            </ion-button>
        </section>
    </main>
</ion-content>